<ion-view title="Post Job">
    <ion-content padding="true" class="has-header">
       <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Profile</span>
    <input type="text" placeholder="Profile"  ng-model="credentials.profile" >
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Location</span>
    <input type="text" placeholder="Location" ng-model="credentials.location">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Vacancies</span>
    <input type="number" placeholder="Vacancies" ng-model="credentials.vacancies">
  </label>
</div>
 <span class="input-label">Salary Range</span>
<select style='width:100% ; height : 50px' id='select' ng-model="credentials.salary">
    <option value= "5000-10000"> 5000-10000 </option>
    <option value= "10000-20000">10000-20000 </option>
    <option value= "20000-30000">20000-30000 </option>
    <option value= "30000-40000">30000-40000 </option>
    <option value= "40000-50000">40000-50000 </option>
</select>
    <span class="input-label">Shift</span>
<select style='width:100% ; height : 50px' id='select' ng-model="credentials.shift">
    <option value= "Day"> Day </option>
    <option value= "Night">Night </option>
     <option value= "Rotational">Rotational</option>

</select>

<button class="button button-full button-royal" ng-click="submit()">
  Submit
</button>
    </ion-content>
</ion-view>